/*Application de la police sur toute la page */

body {

	font-family: 'Raleway' , Arial, serif;
	overflow-x: hidden;
	font-weight: normal;
	width: 100%;

	box-sizing: border-box;
	position: relative;

	margin: auto;
}

input
{

font-family: 'Raleway', Arial, serif;
font-size: 18px;

}


.dimensionpage ,.dimensionpageresponsive
{

width: 95%;
margin: auto;

}

#wrapper
{

position: relative;
min-height: 100%;

}

#content-wrap
{


overflow-y: hidden;
}

a
{

text-decoration: none;
color: black;

}

/* réalisation de l'header version desktop */

header 
{
position: relative;
top: 10px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;



}


#logo img
{

width: 70%;
height: 70%;

}

header ul

{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	align-items: center;

}


header ul li
{
	text-decoration-style: none;
	margin: 0px auto auto auto;
  padding: 50px 10px 0px 10px;
	color: black;
	padding-left: 30px;
	padding-right: 30px;
	overflow: visible;
	z-index: 500;

}

header ul li a 

{

	text-decoration: none;
  padding: 74px 10px 0px 10px;
	color: black;
  
}

header ul li a:hover

{
overflow: visible;
border-top: 2px solid #0065FC;
color: #0065FC;

}





/* réalisation du navigateur de recherche */


#premiersecction
{

display: flex;
flex-direction: column;
justify-content: left;

}

#premiersection p
{

margin-top: 10px;

}

#premiersection h1
{

margin-bottom: 5px;

}

#logolocation
{
	
	position: relative;
	background-color: #F2F2F2;
	border: 3px rgba(0, 0, 0, 1.0) ;
	border-radius: 18px 0px 0px 18px;
	padding: 20px 18px 21px 20px;
	z-index: 10;
  margin: 0px;


}

#zonerecherche
{


display: flex;
flex-direction: row;
align-items: baseline;
gap: -50px;


}





#rechercherbleu
{
	text-decoration: none;
	color: white;
	font-size: 18px;
	background-color: #0065FC;
	border-radius: 0px 18px 18px 0px;
	padding: 17px 20px 16px 20px;
  border-color: #0065FC;


}


#rechercherbleu:hover
{
	background-color: #0075Fb;
	z-index: 20;

}
form
{

display:flex;
flex-direction: row;
align-items: baseline;



}

section form input
{
	
	background-color: white;
	text-decoration: none;
	padding: 17px 45px 17px 15px;
	border: 1px #F2F2F2 solid;
	z-index: 15;
	right: 15px;
}

#loupe
{
visibility: hidden;

}

/*Nous allons réaliser l'espace filtre */


#espacefiltre
{
position: relative;
display: flex;
flex-direction: row;	
align-items: center;

}

#espacefiltre h2
{
font-size: 18px;


}

#listfiltre
{

display: flex;
flex-direction: row;
text-decoration: none;
list-style-type: none;
justify-content: space-around;


}

#listfiltre ul
{

display: flex;
justify-content: space-around;

}



#listfiltre li
{

text-decoration: none;

border: 2px solid rgba(242, 242, 242, 1.0);
border-radius: 50px;
padding: 0px 15px 0px 0px;
margin: 0px 15px 0px 15px;
display: flex;
justify-content: space-around;

}


#listfiltre li a
{

font-weight: bold;

}


#économie, #Familial, #romantique, #Animaux
{

background-color: #DEEBFF;
color: #0065FC;
border: rgba(0, 0, 0, 0.0);
border-radius: 50px;
padding: 15px 15px 15px 15px;
margin: 0px 10px 0px 0px;

}

#Familial
{

padding: 15px 17px 15px 17px;

}

#listfiltre li:hover, #listfiltre a:hover
{

	background-color: whitesmoke;
	border-radius: 50px
}

#listfiltre a
{
display: flex;

text-decoration: none;
color: black;
font-weight: bold;
background-color: white;
align-items: center;
justify-content: space-around;
}

#infosup
{

display:flex ;
flex-direction: row;
align-items: baseline;
gap: 5px;

}

#info
{

color: #0065FC ;
border: 2px solid rgba(242, 242, 242, 1.0);
border-radius: 500px;
padding: 4px 8px 5px 9px;
margin: 0px 0px 20px 0px ;


}

#plusde500
{
color: grey;
}

/* test hebergement et pop */

#deuxiemesec
{

display: flex;
flex-direction: row;
justify-content: space-between;


}

#hebergementmars
{
overflow: visible;
background-color: #F2F2F2 ;
border-radius: 30px;
padding: 0px 0px 20px 0px ;
width: 68%;
height: 70%;
position: relative;


}

#titreheber
{
	font-size: 23px;
	position: relative;
  width: 89%;
  margin: 40px auto 10px auto;
}


#hebermarscard
{
width: 94%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
overflow: visible;
justify-content: center;
margin: auto;

}

.card {
  width: 29%; 

  margin: 20px auto ; 
  background-color: white; 
  box-shadow: 0px 5px 20px #999; 
  border-radius: 30px;
  overflow: hidden;

  box-sizing: border-box;



}
.card a { 
  color: #333; 
  text-decoration: none;
 
}


.card-image {
  width: 96%;
  height: 100%;
  overflow: hidden;
  

 	
  border: 5px solid white;
  border-radius: 30px 30px 0px 0px ;
margin: auto;

 

}
.card-image img {
width: 100%;
height: 150px;
object-fit: cover
}


.card-body {
  
  
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  
}

.card-body h5 , .card-body p
{

margin: 0px;

}

.card-body h5
{
color: black;
font-size: 1.4em;

}
.card-body p
{

font-size: 1.2em;

}
.cardpop-excerpt, .card-excerpt
{

display: flex;
flex-direction: row;
justify-content: left;
margin-top: 2px;

}

.card-excerpt
{

  margin-top: 3px;

}


.etoilegrise
{
margin: 0px;
	color: #F2F2F2;

}

.etoilebleu
{
margin: 0px;
color: #0065FC;

}

.etoilebleu  , .etoilegrise 
{

font-size: 1em;

}

#afficherplus
{

width: 90%;
margin: auto;
}

#afficherplus a
{

	font-size: 22px;
	text-decoration: none;
	color: black;

}

strong
{

font-weight: bold;

}



/* test POP */

#pop
{
background-color: #F2F2F2 ;
border-radius: 30px;

width: 30%;
height: auto;
display: flex;
flex-direction: column;
justify-content: flex-start;
gap: 2%;
position: relative;
z-index: 10;
box-sizing: border-box;
}


#entetepop
{
  padding-top: 20px;
  width: 80%;
	display: flex;
	flex-direction: row;
  justify-content:space-between;
	align-items: center;
  margin: 0px auto 0px auto;


}

#colomnepop
{
display: flex;
flex-direction: column ;
margin: 0px;
gap: 45px;
margin-bottom: -29%;
}

.cardpop {
  
  width: 80%; 
  height: 175px;

  margin: 0px auto 0px auto; 
  background-color: white; 
  box-shadow: 0px 5px 20px #999; 
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  

}



.cardpop-image {
  
  height: 95%;  

 margin: auto;
	overflow: hidden;
  border: 7px solid white;
  border-radius: 20px  ;
  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;


}

.zoneimagepop
{
flex-shrink: 5;
flex-grow: 1;
width: 40%;

}

.cardpop-image img {
  width: 95%;
 
  height: 120%;
  object-fit: cover;
  transform: translateY(-10px);

  z-index: 60;
}


.cardpop-body {
 margin: 10px auto auto auto;
  height: 94%;
  width: 50%;
  
 flex-grow: 2;
  
  display: flex;
  flex-direction: column;

 margin-left: 3%;
  flex-wrap: nowrap;
  flex-shrink: 1;

  gap: 10px;
  position: relative;
}

#hotelsoleil h5, #hotelbleublanc h5
{

margin-right: 30px;

}

.cardpop-body h5 , .cardpop-body p
{

margin: 0;

}

.cardpop-body h5
{

font-size: 1.3em;

}
.cardpop-body p
{

font-size: 1.1em;

}

.cardpop-excerpt
{
position: absolute;
bottom: 10px;

	
}



/*
#aucoeur img 
{

width: 80%;
height: 108%;
}

*/











#troisiemesection
{
margin: 0px 0px 0px 0px;
display: flex;
flex-direction: column;
justify-content: space-around;



}

#titreactivite
{
font-size: 25px ;

}



#touteslescolomnes
{

display: flex;
flex-direction: row;
gap: 3%;
flex-wrap: nowrap;
margin-bottom: -2%;



}

#responsiveactivite1
{

display: flex;
flex: 1 50%;
gap: 7%;



}

#responsiveactivite2
{

display: flex;
flex: 1 50%;
gap: 7%;


}

.cardactivite {
  width: 100%;
  height: 60%; /*1*/
  margin: 0px auto; /*2*/
  background-color: white; /*3*/
  box-shadow: 0px 5px 20px #999; /*4*/
  border-radius: 30px;
  position: relative;
  top: 5px;
}
.cardactivite a { /*5*/
  color: #333; 
  text-decoration: none;
}

.cardactivite-image {
  height: 100%;/*1*/
  position: relative;/*2*/
  overflow: hidden;/*3*/
  border-radius: 30px 30px 0px 0px ;
  width: 100%;
  margin: auto;
}
.cardactivite-image img {
  width: 100%;/*4*/
  height: 89%;
  object-fit: cover;
  object-position: center top;

}

.cardactivite-body 
{
  margin: 12px 0px 10px 15px ;
 
 
}

.cardactivite-body h3
{

margin  : 0px;

}

#premiercolomne
{

padding-bottom: 0px;
padding-top: 0px;
width: 50%;

}

#parcnational
{

width:50%;

}

/* pour les petites colomne */


#colomnequatre, #deuxiemecolomne

{
display: flex;
flex-direction: column;
justify-content: flex-start;
gap: 5%;
position: relative;
top: 5px;
width: 50%;




}

.cardactivitev2 {
  width: 100%;
  height: 30%;
  background-color: white;
  box-shadow: 0px 5px 20px #999;
  border-radius: 30px;
  margin-top: 2px;
  box-sizing: border-box;
}
.cardactivitev2 a { /*5*/
  color: #333; 
  text-decoration: none;
}


.cardactivitev2-image {
  height: 100%;/*1*/
  position: relative;/*2*/
  overflow: hidden;/*3*/
  border-radius: 30px 30px 0px 0px ;
  width: 100%;
  margin: auto;
}
.cardactivitev2-image img {
  width: 100%;
  height: 78%;
  object-fit: cover;
  object-position: 50% 0%;
 

}

#fortpo img
{

object-position: 20% 41%;

}


.cardactivitev2-body 
{

  margin: 12px 0px 10px 15px ;


}
.cardactivitev2-body h3
{

margin: 0px;

}


.cardactivitev3 {
  width: 100%;
  height: 24%; /*1*/
 /*2*/
  background-color: white; /*3*/
  box-shadow: 0px 5px 20px #999; /*4*/
  border-radius: 30px;
  margin-top: 2px;

}
.cardactivitev3 a { /*5*/
  color: #333; 
  text-decoration: none;
}

.cardactivitev3-image {
  height: 100%;/*1*/
  position: relative;/*2*/
  overflow: hidden;/*3*/
  border-radius: 30px 30px 0px 0px ;
  margin: auto;
  width: 100%;
}
.cardactivitev3-image img {
  width: 100%;/*4*/
  height: 73%;
  object-fit: cover;
  object-position: center top;

}

.cardactivitev3-body 
{

  margin: 12px 0px 10px 15px ;
 
}

.cardactivitev3-body h3
{

margin: 0px;

}







/*Pied de page */

#pieddepage

{
position: absolute;
bottom: 0;
width: 100%;
height: 200px;
background-color: #F2F2F2;
padding-bottom: 15px;
padding-top: 25px;
}


#pieddepagecolomne

{  
position: relative;
display: flex;
flex-direction: row;
justify-content: left;
gap: 22%;


}


#apropos , #NosHebergements , #assistance 
{
display: flex ;
flex-direction: column ;
justify-content: left;
align-items: flex-start ;

}


footer li
{
list-style: none;
text-align: left;
margin: 10px 0px 10px 0px;
}

footer li a
{
text-decoration: none;
color: black;
}

