/* importation de la police d'écriture par défaut */




/*Application de la police sur toute la page */


#wrapper
{

overflow-x: hidden;

}

.dimensionpage
{

width: 100%;

}

.dimensionpageresponsive
{

width: 88%;


}

button
{

border: 0;

}


#content-wrap
{

padding-bottom: 500px;

}




/* réalisation de l'header version desktop */

header 
{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: unset;
}


#logo img
{
display: flex;
width: 25%;
height: 25%;
align-self: center;
margin: auto 45% 10px 40%;

}

header ul

{
	
	text-align: center;
	align-items:unset;
	width: 100%;
	margin: auto;
	padding: 0%;
	




}


header ul li
{


	flex-basis: 100%;
	border-bottom: 4px solid #F2F2F2;
	padding: 10px 0px 15px 0px;
	


}



header ul li:hover

{

border-bottom: 4px solid #0065FC;
border-top: 0px

}

header ul li a:hover{

border-top: 0px;

}





/* réalisation du navigateur de recherche */


#premiersecction
{
width: 90%;
overflow-x: hidden;

}



#zonerecherche
{

position: relative;
width: 95%;
justify-content: left;
flex-wrap: nowrap;
}







#loupe
{
	visibility: visible;
	position: absolute;
	text-decoration: none;
	color: white;
	font-size: 18px;
	background-color: #0065FC;
	border-radius: 18px 18px 18px 18px;
	padding: 17px 20px 18px 20px;
	z-index: 20;
	font-weight: 600;
  left: 75%;
}


#loupe:hover
{
	background-color: #0075Fb;
	z-index: 20;

}


section form input
{
	position: absolute;

	padding: 15px 16px 17px 10px;

	left: 14%;
	
}

#rechercherbleu
{
visibility: hidden;

}

/*Nous allons réaliser l'espace filtre */


#espacefiltre
{

flex-direction: column;
align-items: flex-start;


}

#espacefiltre h2
{
font-size: 18px;


}

#listfiltre
{
margin: 0;

padding: 0%;
flex-wrap: wrap;
justify-content: left;

}





#listfiltre li
{


margin: 15px 15px 0px 0px;
flex-wrap: wrap;

}







#infosup
{
margin: 20px auto auto auto;

justify-content: left;

gap: 10px;

}



#plusde500
{
color: black;
display: inline-block;

}

/* test hebergement et pop */

#deuxiemesec
{


flex-direction: column-reverse;


flex-wrap: nowrap;

gap: 20px;

}

#hebergementmars
{

background-color: white;
width: 100%;

margin: auto;



}

#titreheber
{

	top: 15px;
	left: 35px;
	margin-bottom: 30px;
}


#hebermarscard
{

flex-direction: column;
gap: 0px;

}

.card {
  width: 88%; 
  height: 200px;
  margin: 10px auto ; 

  overflow: visible;
 
  box-sizing: border-box;


}




.card-image {
  height: 61%;
  width: 95%;
margin: 0;
padding: 0;
margin-top: -10px;
  border: 7px solid white;
 





}


.card-body {

	height: auto;
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-left: 10px;
  
	
  }

.card-date
{

	font-size: 22px;
	font-weight: normal;
	


}

.card-title
{
	
	font-size: 14px;
	position: relative;
	
	font-weight: normal;

	z-index: 10;

}





#afficherplus
{
position: relative;
left: 7%;

}




/* test POP */

#pop
{
border-radius: 0;
padding-bottom: 20px;
width: 100%;
height: auto;
padding: auto;

gap: 10px;

justify-content: flex-start;


}


#entetepop
{
 
	margin: 5px 25px 0px 25px;
	gap: 90px;

	justify-content: left;



}

.cardpop 
{

  width: 90%; 
  height: 150px;
  margin: 0px auto 0px auto; 
border-radius: 20px;

}



.cardpop-image 
{
	height: 93%;
  width: 39%;
  border-radius: 20px 0px 0px 20px ;

}




.cardpop-body 
{
	height: 88%;
	width: 60%;
	margin: auto;
	justify-content: space-around;
	gap: 0px;

}


.cardpop-date
{

	font-size: 20px;
	position: absolute;
	
	z-index: 100;

}
.cardpop-date h5
{

margin: inherit;


}
.cardpop-title p
{

margin: auto;

}

.cardpop-title
{

font-size: 15px;
position: absolute;
top: 60px;



}

.cardpop-excerpt
{
  font-size: 15px;

top:120px;
left: 20px;

	
}









#troisiemesection
{
margin: 10px auto 60px auto;
gap: 10px;
flex-wrap: nowrap;
position: relative;
width: 88%;



}

#titreactivite
{

text-align: left;
margin: 50px 0px 20px 0px;
}




#touteslescolomnes
{
width: 100%;
flex-direction: column;
gap: 10px;
position: relative;
margin: auto;
}

#deuxiemecolomne , #colomnequatre
{

gap: 10px;

}

#responsiveactivite1, #responsiveactivite2
{

display: flex;
flex-direction: column;
gap: 10px;
}

.cardactivite, .cardactivitev2 , .cardactivitev3 {
  width: 100%;
  height: 170px; 
  margin: auto;
  min-height: 200px;
  margin-bottom: 20px;
 
  display: inline-block;
}


.cardactivite a, .cardactivitev2 a , .cardactivitev3 a { 
  color: #333; 
  text-decoration: none;
}

.cardactivite-image , .cardactivitev2-image, .cardactivitev3-image {
  height: 75%;
  position: relative;
  overflow: hidden;
  border-radius: 30px 30px 0px 0px ;
}


.cardactivite-image img , .cardactivitev2-image img , .cardactivitev3-image img {
  width: 100%;/*4*/
  height: 150%;
  object-fit: cover;
 


}

.cardactivite-body , .cardactivitev2-body, .cardactivitev3-body{
    text-align:center; 
  padding: 15px 20px; 
  box-sizing: border-box;
}

.cardactivite-date, .cardactivitev2-date, .cardactivitev3-date {
 
  text-align:left;
  font-weight: bold;
  color: black;
  position: relative;
  bottom: 20px;
}


#fortpoimg img
{

transform: translate(0px , -30px);

}


#VieuxPort img
{

transform: translate(0px , -10px);

}


/*Pied de page */

#pieddepage

{

height: 480px;

}


#pieddepagecolomne

{  

flex-direction: column;

align-items: flex-start;
gap: 6%;


}





footer li
{

margin: 8px 0px 8px 0px;


}



