


#content-wrap
{

padding-bottom: 500px;

}





/* réalisation de l'header version desktop */





header ul

{

  margin: -40px 20px auto auto ;
}






/* réalisation du navigateur de recherche */




#zonerecherche
{

align-items: center;
justify-content: center;
}


#loupe
{

margin-left: 25px;

}




#rechercherbleu
{

	padding: 16px 20px 18px 20px;

}




/*Nous allons réaliser l'espace filtre */


#espacefiltre
{

align-items: baseline;
margin-top: 10px;

}


#listfiltre
{

flex-wrap: wrap;
margin: auto;
justify-content: left;

}

#listfiltre ul
{

flex-wrap: wrap ;


}



#listfiltre li
{
 
  margin-bottom: 10px;
flex-wrap: wrap;

}




#info
{

padding: 3px 7px 3px 7px;
margin:  0px 0px 0px 0px;

}

/* test hebergement et pop */

#deuxiemesec
{


flex-direction: column-reverse;

align-items: center;
flex-wrap: nowrap;
gap: 20px;
}

#hebergementmars
{

width: 95%;
height: 70%;



}

#titreheber
{

	top: 15px;
	left: 35px;
	margin-bottom: 30px;
}



.card {
  width: 320px; 
  overflow: visible;
}


.card-image 
{
  width: 95%;
  height: 69%;
  border: 7px solid white;

}

.card-date
{

margin-top: -15px;

}





#afficherplus
{

position: relative;
left: 5%;

}




/* test POP */

#pop
{

padding: 20px 0px 20px 0px ;
width: 95%;

}


#entetepop
{

	margin: 0px 0px 10px 0px;
 
	gap: 270px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;


}

.cardpop {
  width: 90%; 
  height: 245px;
  margin: 0px auto 20px auto; 
  background-color: white; 
  box-shadow: 0px 5px 20px #999; 
  border-radius: 30px;
  display: flex;
  flex-direction: row;

}




.cardpop-body 

{
 
  gap: 0px;

}


.cardpop-date
{
  margin-top: 23px;
	font-size: 30px;



}


.cardpop-title
{
  margin-top: 23px;
	font-size: 20px;


}










/* test */


#troisiemesection
{
margin: 10px 0px 60px 0px;

align-items: center;
flex-wrap: nowrap;
position: relative;
margin: auto;


}

#titreactivite
{

text-align: center;
margin: 50px 0px 0px 0px;
}



#touteslescolomnes
{


flex-direction: column;

align-items:center ;

margin: auto;
}

#responsiveactivite1
{


flex-direction: row;
flex-wrap: nowrap;
margin: auto 0px auto 0px;
justify-content: center;
align-items: center ;
gap: 40px;
}

#responsiveactivite2
{
 

  flex-direction: row-reverse;
  flex-wrap: nowrap;
  margin: auto;
  justify-content: center;
  align-items: center ;
  gap: 40px;
  }

.cardactivite {
  width: 350px;
  height: 710px; 
  min-height: 605px;
  margin: 60px 0px 50px 0px ; 



 
  
}




/* pour les petites colomne */


#colomnequatre, #deuxiemecolomne

{

gap: 60px;

top: 10px;




}



.cardactivitev2 
{

  width: 350px;
  height: 350px;

  margin: 0px
}



.cardactivitev2-image 
{
  height: 280px;/*1*/

}


.cardactivitev2-image img 
{


  height: 110%;
 
 

}




.cardactivitev3 {
  width: 350px;
  height: 300px; 


  margin: 0px;

}


.cardactivitev3-image 
{

  height: 230px;

}

.cardactivitev3-image img 
{

  height: 110%;


}










/*Pied de page */

#pieddepage

{

height: 480px;
}


#pieddepagecolomne

{  

flex-direction: column;
align-items: flex-start;
gap: 6%;


}



footer li
{

margin: 8px 0px 8px 0px;

}


