


#content-wrap
{

padding-bottom: 0px;

}





/* réalisation de l'header version desktop */





header ul

{

  margin: -40px 20px auto auto ;
}






/* réalisation du navigateur de recherche */




#zonerecherche
{

align-items: center;

}



#rechercherbleu
{

	padding: 16px 20px 18px 20px;

}




/*Nous allons réaliser l'espace filtre */


#espacefiltre
{

align-items: baseline;
margin-top: 10px;

}


#listfiltre
{

flex-wrap: wrap;
margin: auto;
justify-content: left;

}




#listfiltre li
{
 
margin-bottom: 10px;

}




#info
{

padding: 3px 7px 3px 7px;
margin:  0px 0px 0px 0px;

}

/* test hebergement et pop */

#deuxiemesec
{

flex-direction: column-reverse;
align-items: center;
gap: 20px;

}


#hebergementmars
{

width: 95%;

}




#afficherplus
{


left: 0%;

}




/* test POP */

#pop
{
width: 95%;
padding-top: 10px;
}


#entetepop
{

margin: auto auto 10px auto;

}

#colomnepop
{
gap: 20px;
margin-bottom:20px;

}

.cardpop 
{

height: auto;

}

.cardpop-image
{
aspect-ratio: 5/2;
width: 100%;


}

.cardpop-image img
{

width: 100%;
 
}

.zoneimagepop
{

width: 40%;

}


.cardpop-body 

{

margin-left: 20px;
width:52%;

}



#hotelbleublanc .cardpop-body
{

margin-left: 20px;

}

.cardpop-body h5
{

font-size: 25px;

}

.cardpop-body p
{

font-size: 20px;

}



/* 3eme section */


#responsiveactivite1 , #responsiveactivite2
{

width: 95%;
margin: auto;
}




