/* importation de la police d'écriture par défaut */




/*Application de la police sur toute la page */


#wrapper
{

overflow-x: hidden;

}

.dimensionpage
{

width: 100%;

}

.dimensionpageresponsive
{

width: 88%;


}

button
{

border: 0;

}


#content-wrap
{

padding-bottom: 0px;
overflow-x: hidden
}




/* réalisation de l'header version desktop */

header 
{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: unset;
}


#logo img
{
display: flex;
width: 25%;

margin: auto 45% 10px 40%;

}

header ul

{
	
	text-align: center;
	
	margin: auto;
	padding: 0%;
	




}


header ul li
{


	flex-basis: 100%;
	border-bottom: 4px solid #F2F2F2;
	padding: 10px 0px 15px 0px;
	


}



header ul li:hover

{

border-bottom: 4px solid #0065FC;
border-top: 0px

}

header ul li a:hover{

border-top: 0px;

}





/* réalisation du navigateur de recherche */


#premiersecction
{
width: 90%;
overflow-x: hidden;

}



#zonerecherche
{

margin: 0px;

}


#bouton
{

display:flex;
flex-direction: row-reverse;

}





#loupe
{

visibility: visible;
color: white;
font-size: 18px;
background-color: #0065FC;
border-radius: 18px;
padding: 17px 20px 18px 20px;
z-index: 20;
margin-left: -10px;

}


#loupe:hover
{
	background-color: #0075Fb;
	z-index: 20;

}


section form input
{

padding: 16px 20px 18px 10px;

}


#rechercherbleu
{

visibility: hidden;

}

/*Nous allons réaliser l'espace filtre */


#espacefiltre
{

flex-direction: column;

}



#listfiltre
{

padding: 0%;

}





#listfiltre li
{

margin: 15px 15px 0px 0px;
flex-wrap: wrap;

}







#infosup
{

margin: 20px auto auto auto;
gap: 10px;

}





/* test hebergement et pop */


#hebergementmars
{

background-color: white;
width: 100%;

}


#titreheber
{

left: 25px;
margin-bottom: 40px;

}


#hebermarscard
{

flex-direction: column;
gap: 10px;

}

.card
{

aspect-ratio: 2/1;
width: 90%;  
margin: 10px auto ; 
border-radius: 25px;
border: 1px solid white;
overflow: visible;

}




.card-image 
{

aspect-ratio: 8/5;
width: 98%;
height: 100%;
margin-top: -10px;
border-radius: 25px;
margin-bottom: 20px;

}

.card-image img
{

height: 60%;

}

.card-body 
{

height: 50%;
gap: 5%;
	
}

.card-body h5
{

font-size: 21px;

}




/* Partie POP */

#pop
{

border-radius: 0%;
width: 100%;


}


#entetepop
{

font-size: 15px;
padding: 0px;
width: 90%;
margin: auto;

}

#colomnepop
{

margin-bottom: 28px;

}

.cardpop 
{

margin: 0px auto 0px auto; 
border-radius: 20px;

}



.cardpop-image img
{
max-width: 100%;
 width: 100%;



}



.cardpop-body 
{

height: 88%;
margin: auto;
margin-left: 20px;
gap: 10px;

}


#hotelbleublanc .cardpop-body 
{

margin-left: 25px;

}


.cardpop-body h5
{

font-size: 18px;

}

.cardpop-body p
{

font-size: 15px;

}



.cardpop-excerpt
{

font-size: 15px;
	
}









#troisiemesection
{

margin: 10px auto 60px auto;
gap: 10px;
width: 88%;



}


#titreactivite
{

margin: 50px 0px 20px 0px;

}


#deuxiemecolomne , #colomnequatre
{

gap: 10px;

}


#responsiveactivite1, #responsiveactivite2
{

flex-direction: column;
gap: 10px;
width: 96%;

}


#premiercolomne, #deuxiemecolomne, #colomnequatre
{

width: 100%;

}
.cardactivite, .cardactivitev2 , .cardactivitev3 
{

height: auto; 
margin: auto;
min-height: unset;
margin-bottom: 20px;
  
}



.cardactivite-image , .cardactivitev2-image, .cardactivitev3-image 
{

aspect-ratio: 8/5;

}


.cardactivite-image img , .cardactivitev2-image img , .cardactivitev3-image img 
{

height:76% ;
object-fit: cover;
transform: translateY(0px);


}



.cardactivite-body, .cardactivitev2-body, .cardactivitev3-body
{

margin: 10px auto 20px 10px;

}


#parcnational
{

width: 100%;

}



