
#content-wrap
{

padding-bottom: 0px;

}

.dimensionpage
{

width: 90%;

}


/* test hebergement et pop */

#deuxiemesec
{

gap: 30px;

}

#hebergementmars
{

width: 60%;

}

#titreheber
{

	top: 15px;
	left: 5px;
	margin-bottom: 30px;
}



.card 
{

width: 45%; 

}


.card-image 
{

  height: 92%;
  border-radius:30px;

}

.card-body h5
{

font-size: 17px;

}

.card-body p
{

font-size: 16px;

}





/* test POP */

#pop
{

width: 40%;
gap: 10px;

}


#entetepop
{

width: 85%;
margin: 10px auto 10px auto;

}

#colomnepop
{

gap: 50px;

}

.cardpop 
{

width: 85%; 
height: 250px;
margin: 0px auto 20px auto; 
border-radius: 30px;

}

.zoneimagepop
{

width:65%;

}



.cardpop-body 

{

margin-left: 0px;
gap: 20px;

}


.cardpop-body h5
{

font-size: 17px;

}

.cardpop-body p
{

font-size: 14px;

}









/* test */


#troisiemesection
{

margin: 10px 0px 70px 0px;



}

#titreactivite
{

text-align: center;
margin: 50px 0px 0px 0px;
}



#touteslescolomnes
{

flex-direction: column;

}


#responsiveactivite1
{

align-items: center ;
gap: 40px;

}

#responsiveactivite2
{
 
flex-direction: row-reverse;
align-items: center ;
gap: 40px;

}

.cardactivite 
{

width: 100%;
height: 710px; 

margin: 60px 0px 50px 0px ; 
 
}

.cardactivite-image img
{

height: 630px;

}



#parcnational
{

width:50%;

}

/* pour les petites colomne */


#colomnequatre, #deuxiemecolomne

{

gap: 61px;
margin-top: 7px;

}

.cardactivite-body, .cardactivitev2-body, .cardactivitev3-body
{

margin: 20px 0px 20px 20px;

}


.cardactivitev2 
{

height: 350px;

}



.cardactivitev2-image 
{
  height: 100%

}


.cardactivitev2-image img 
{

height: 270px;
 
}




.cardactivitev3 
{

height: 300px; 

}




.cardactivitev3-image img 
{

  height: 250px;
  transform: translateY(-30px);


}

.cardactivitev3-body
{

  margin: -10px 0px 30px 20px;

}







/*Pied de page */

#pieddepage
{

height: 480px;

}


#pieddepagecolomne
{  

flex-direction: column;

}



footer li
{

margin: 8px 0px 8px 0px;

}


