/* importation de la police d'écriture par défaut */




/*Application de la police sur toute la page */

body {

  	font-family: 'Raleway', Arial, serif;

	font-weight: normal;
	width: 100%;
	margin: auto;
}

#wrapper
{

overflow-x: hidden;

}
input
{

font-family: 'Raleway', Arial, serif;
font-size: 18px;

}


.dimensionpageresponsive
{

width: 88%;
margin: auto;

}

button
{

border: 0;

}

#wrapper
{

position: relative;
min-height: 100%;

}

#content-wrap
{

padding-bottom: 500px;

}

a
{

text-decoration: none;
color: black;

}


/* réalisation de l'header version desktop */

header 
{

top: 10px;
display: flex;
flex-direction: column;
justify-content: center;

width: 100%;



}


#logo img
{
display: flex;
width: 25%;
height: 25%;
align-self: center;
margin: auto 45% 10px 40%;

}

header ul

{
	list-style-type: none;
	
	display: flex;
	flex-direction: row;
text-align: center;
	width: 100%;
	margin: auto;
	padding: 0%;
	




}


header ul li
{


	color: black;
	flex-basis: 100%;
	border-bottom: 4px solid #F2F2F2;
	padding: 10px 0px 15px 0px;



}

header ul li a 

{
	text-decoration: none;

	color: black;

}

header ul li:hover

{
overflow: visible;
border-bottom: 4px solid #0065FC;
color: #0065FC;

}





/* réalisation du navigateur de recherche */


#premiersecction
{
width: 90%;
overflow-x: hidden;
display: flex;
flex-direction: column;
justify-content: left;

}


#logolocation
{
	
	position: relative;
	background-color: #F2F2F2;
	border: 3px rgba(0, 0, 0, 1.0) ;
	border-radius: 18px;
	padding: 20px 30px 21px 20px;
	z-index: 10;


}

#zonerecherche
{

position: relative;
display: flex;
flex-direction: row;
width: 95%;
justify-content: left;
flex-wrap: nowrap;
}







#loupe
{
	position: absolute;
	text-decoration: none;
	color: white;
	font-size: 18px;
	background-color: #0065FC;
	border-radius: 18px 18px 18px 18px;
	padding: 17px 20px 18px 20px;
	z-index: 20;
	font-weight: 600;
  left: 75%;
}


#loupe:hover
{
	background-color: #0075Fb;
	z-index: 20;

}


section form input
{
	position: absolute;
	background-color: white;
	text-decoration: none;
	padding: 15px 16px 17px 10px;
	border: 2px #F2F2F2 solid;
	z-index: 15;
	left: 14%;
	
}

#rechercherbleu
{
visibility: hidden;

}

/*Nous allons réaliser l'espace filtre */


#espacefiltre
{
position: relative;
display: flex;
flex-direction: column;
align-items: flex-start;


}

#espacefiltre h2
{
font-size: 18px;


}

#listfiltre
{
margin: 0;
display: flex;
flex-direction: row;
text-decoration: none;
list-style-type: none;
padding: 0%;
flex-wrap: wrap;

}





#listfiltre li
{

text-decoration: none;
border: 2px solid rgba(242, 242, 242, 1.0);
border-radius: 50px;
padding: 0px 15px 0px 0px;
margin: 15px 15px 0px 0px;
flex-wrap: wrap;

}




#économie, #Familial, #romantique, #Animaux
{

background-color: #DEEBFF;
color: #0065FC;
border: rgba(0, 0, 0, 0.0);
border-radius: 50px;
padding: 15px 15px 15px 15px;
margin: 0px 10px 0px 0px;

}

#Familial
{

padding: 15px 17px 15px 17px;

}

#listfiltre li:hover, #listfiltre a:hover
{

	background-color: whitesmoke;
	border-radius: 50px
}

#listfiltre a
{
display: flex;

text-decoration: none;
color: black;
font-weight: bold;
background-color: white;
align-items: center;
justify-content: space-around;

}

#infosup
{
margin: auto;
display: flex;
flex-direction: row;
justify-content: left;
align-items: baseline;
gap: 10px;

}


#info
{

color: #0065FC ;
border: 2px solid rgba(242, 242, 242, 1.0);
border-radius: 500px;
padding: 4px 8px 4px 8px;



}

#plusde500
{
color: black;
display: inline-block;

}

/* test hebergement et pop */

#deuxiemesec
{

display: flex;
flex-direction: column-reverse;
justify-content: space-between;
height: 30%;
flex-wrap: nowrap;
gap: 20px;
}

#hebergementmars
{
overflow: visible;
border-radius: 30px;
padding: 0px 0px 20px 0px ;
width: 100%;
height: 70%;
margin: auto;
position: relative;


}

#titreheber
{
	font-size: 23px;
	position: relative;
	top: 15px;
	left: 35px;
	margin-bottom: 30px;
}


#hebermarscard
{
display: flex;
flex-direction: column;
gap: 0px;

}

.card {
  width: 88%; 
  height: 210px;
  margin: 10px auto ; 
  background-color: white; 
  box-shadow: 0px 5px 20px #999; 
  border-radius: 30px;
  overflow: visible;
 
  box-sizing: border-box;


}
.card a { 
  color: #333; 
  text-decoration: none;
 
}


.card-image {
  height: 61%;
  overflow: hidden;  
 	
  border: 7px solid white;
  border-radius: 30px ;

  object-fit: contain;
  object-position: center top;




}
.card-image img {
width: 100%;
height: 90%;
object-fit: cover
}

.card-date
{

	font-size: 22px;
	font-weight: normal;
	position: relative;
	bottom: 52px;

	overflow: visible;
	z-index: 20;


}

.card-title
{
	margin: -55px -13px 0px -14px;
	font-size: 14px;
		position: relative;
	bottom: 72px;
	font-weight: normal;
	padding: 35px 20px 0px 16px ;
	z-index: 10;

}

.card-excerpt
{

	position: relative;
	bottom: 80px;

}


.card-date, .card-title , .card-excerpt{
  text-align:left ;

 

}

.card-body {
  position: relative;
  text-align:center;  
  padding: 10px 20px 0px 20px;
  z-index: 30;
  overflow: visible;
}

.etoilegrise
{

	color: #F2F2F2;

}

.etoilebleu
{

color: #0065FC;

}

#afficherplus
{
position: relative;
left: 7%;

}

#afficherplus a
{

	font-size: 22px;
	text-decoration: none;
	color: black;

}

strong
{

font-weight: bold;

}



/* test POP */

#pop
{
background-color: #F2F2F2 ;
padding-bottom: 20px;
width: 100%;

display: flex;
flex-direction: column;
gap: 10px;



}


#entetepop
{
 
	margin: 5px 25px 0px 25px;
	gap: 90px;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;


}

.cardpop {
  width: 90%; 
  height: 170px;
  margin: 0px auto 0px auto; 
  background-color: white; 
  box-shadow: 0px 5px 20px #999; 
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  

}



.cardpop-image {
  height: 94%;  
  width: 39%;
	overflow: hidden;
  border: 5px solid white;
  border-radius: 30px 0px 0px 30px ;
  z-index: 50;


}
.cardpop-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 60;
}


.cardpop-body {
 

  width: 50%;
  

  display: flex;
  flex-direction: column;
 	
  flex-wrap: nowrap;


  gap: 0px;
position: relative;
}


.cardpop-date
{

	font-size: 21px;
	position: absolute;
	top: -15px;
	left: 10px;
	z-index: 100;

}


.cardpop-title
{

	font-size: 15px;
position: absolute;
top: 60px;
	left: 10px;


}

.cardpop-excerpt
{
  font-size: 15px;
position: absolute;
top:135px;
left: 10px;

	
}






#pophotel
{
position: relative;
transform: translate(-10% -90%);

}



/* test */


#troisiemesection
{
margin: 10px auto 60px auto;
display: flex;
flex-direction: column;
gap: 10px;
flex-wrap: nowrap;
position: relative;
width: 88%;



}

#titreactivite
{
font-size: 25px ;
text-align: left;
margin: 50px 0px 20px 0px;
}



#touteslescolomnes
{
width: 100%;
display: flex;
flex-direction: column;
gap: 10px;
display: inline-block;
position: relative;

margin: auto;
}


.cardactivite, .cardactivitev2 , .cardactivitev3 {
  width: 100%;
  height: 170px; 
  margin: auto;
  min-height: 200px;
  margin-bottom: 20px;
  background-color: white; 
  box-shadow: 0px 5px 20px #999;
  border-radius: 30px;
  position: relative;
  display: inline-block;
}


.cardactivite a, .cardactivitev2 a , .cardactivitev3 a { 
  color: #333; 
  text-decoration: none;
}

.cardactivite-image , .cardactivitev2-image, .cardactivitev3-image {
  height: 75%;
  position: relative;
  overflow: hidden;
  border-radius: 30px 30px 0px 0px ;
}


.cardactivite-image img , .cardactivitev2-image img , .cardactivitev3-image img {
  width: 100%;/*4*/
  height: 150%;
  object-fit: cover;
 


}

.cardactivite-body , .cardactivitev2-body, .cardactivitev3-body{
    text-align:center; 
  padding: 15px 20px; 
  box-sizing: border-box;
}

.cardactivite-date, .cardactivitev2-date, .cardactivitev3-date {
 
  text-align:left;
  font-weight: bold;
  color: black;
  position: relative;
  bottom: 20px;
}








/*Pied de page */

#pieddepage

{
position: absolute;
bottom: 0;
width: 100%;
height: 480px;
background-color: #F2F2F2;
padding-bottom: 15px;
padding-top: 25px;
}


#pieddepagecolomne

{  
position: relative;
display: flex;
flex-direction: column;
justify-content: left;
align-items: flex-start;
gap: 6%;


}


#apropos , #NosHebergements , #assistance

{

display: flex;
flex-direction: column;
justify-content: left;
align-items: flex-start;




}




footer li
{
list-style: none;
margin: 8px 0px 8px 0px;


}

footer li a
{
text-decoration: none;
color: black;

}

